{% extends "user/header.html" %}

{% block content %}
<div id="trans" class="w3-row w3-padding w3-container w3-black shadow">
  <div class="w3-third w3-display-container w3-container" style="height:850px;">
      <div class="w3-center">
        <img class="w3-middle w3-center" src="{{ thumbnail }}" alt="{{ bookTitle }}" style="width:80%; padding-top: 10px;">
      </div>
  </div>
  <div class="w3-twothird w3-display-container w3-container" style="padding-top: 10px; height: 850px">
    <span>
      <h1><b>{{ bookTitle }}</b></h1>
    </span>
    <div class='w3-display-container'>
        <p class="w3-large w3-middle w3-text-green">{{ percent }}% Charm</p>
      <div class="form-inline">

        {% if not rated %}
          <form action="{{ url_for('user_book',username=current_user.f_name, title=url_title, bookid=bookid, method='liked') }}" method="post" novalidate>
              <button class="btn w3-large w3-hover-white" alt='I liked this book'><i class="fas fa-heart w3-text-white"></i></button>
          </form>
          <form action="{{ url_for('user_book', username=current_user.f_name, title=url_title, bookid=bookid, method='disliked') }}" method="post" novalidate> 
            <button alt='I disliked this book' class="btn w3-large w3-hover-white"><i class="fas fa-heart-broken w3-text-white"></i></button>
          </form>
        {% elif (rated==1) %}
          <form action="{{ url_for('user_book',username=current_user.f_name, title=url_title, bookid=bookid, method='unrate') }}" method="post" novalidate>
            <button class="btn w3-large w3-hover-white" alt='Unrate this book'><i class="fas fa-heart w3-text-green"></i></button>
          </form>
          <form action="{{ url_for('user_book', username=current_user.f_name, title=url_title, bookid=bookid, method='disliked') }}" method="post" novalidate>
            <button class="btn w3-large w3-hover-white" alt='I disliked this book'><i class="fas fa-heart-broken w3-text-white"></i></button>
          </form>
        {% elif (rated==2) %}
          <form action="{{ url_for('user_book',username=current_user.f_name, title=url_title, bookid=bookid, method='liked') }}" method="post" novalidate>
            <button class="btn w3-large w3-hover-white" alt='I liked this book'><i class="fas fa-heart w3-text-white"></i></button>
          </form>
          <form action="{{ url_for('user_book', username=current_user.f_name, title=url_title, bookid=bookid, method='unrate') }}" method="post" novalidate>
            <button class="btn w3-large w3-hover-white" alt='Unrate this book'><i class="fas fa-heart-broken w3-text-red"></i></button>
          </form>
        {% endif %}

      </div>
    </div>
    <h3><b>Author:</b> {{ author[0] }}</h3>
    <p><b class="w3-large">Description:</b> {{ bookDescription }}</p>
    <button class="btn google_Link w3-large w3-text-white w3-hover-white" href="{{ googlelink }}">
      <i class="fab fa-google" style="padding-right: 10px"></i>Preview
    </button>

    {% if not added %}
    <form action="{{ url_for('user_book', username=current_user.f_name, title=url_title, bookid=bookid, method='add') }}" method="post" novalidate>
      <button class="btn w3-large w3-text-white w3-hover-white" alt='Add to your "To Be Read Bookshelf"'>
        <i class="fas fa-plus-circle" style="padding-right: 10px"></i>Add to 'TBR'
      </button>
    </form>
    {% else %}
      <form action="{{ url_for('user_book', username=current_user.f_name, title=url_title, bookid=bookid, method='remove') }}" method="post" novalidate>
        <button class="btn w3-large w3-text-white w3-hover-white" alt='Remove from your "To Be Read Bookshelf"'>
          <i class="fas fa-times-circle" style="padding-right: 10px"></i>Remove from 'TBR'
        </button>
      </form>
    {% endif %}
  </div>
</div>

<!-- Second Grid -->
<div class="green-trans w3-row-padding w3-container" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fas fa-pencil-alt w3-padding-64 w3-text-white w3-margin-right" style="font-size: 100px"></i>
    </div>

    <div class="w3-twothird">
      <h1 class="w3-text-white">Additional Info</h1>
      <p class="w3-text-white">Notes, ratings and other personal info</p>
    </div>
  </div>
</div>

{% endblock %}
