<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>
        User Pages
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static', filename='./css/general.css') }}">
    <style>
        .bgimg {
            background-position: center;
            background-size: cover;
            background-image: url("{{ url_for('static', filename='./img/banner1.png') }}");
            min-height: 75%;
        }
    </style>
</head>


<body class="bgimg main-scheme">
    <!-- Side Navbar -->
    <div id="sidebar-bg" class="w3-hide-small w3-sidebar w3-dark-grey w3-bar-block w3-card w3-animate-left sidebar" style="display:none; opacity: .85;">

        <!-- Medium and Large Screens -->
        <a href="{{ url_for('my_shelf',username=current_user.f_name) }}" class="w3-hide-small w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="My Bookshelf">
            <i title="My Shelf" class="fas fa-align-left fa-rotate-270"></i>
            Shelf
        </a>
        <a href="{{ url_for('bookclub') }}" class="w3-hide-small w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="A Bookclub">
            <i title="Bookclub" class="fas fa-users"></i>
            Bookclub
        </a>
        <a href="?" class="w3-hide-small w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="Add Bookclub">
            <i title="Add Bookclub" class="fas fa-plus"></i>
            Add Club
        </a>
        <a href="?" class="w3-hide-small w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="DM's">
            <i title="DM's" class="fas fa-comments"></i>
            DM's
        </a>
    </div>

    <!-- Small Screens -->
    <div id="sidebar" class="w3-hide-medium w3-hide-large w3-dark-grey w3-sidebar w3-bar-block w3-card w3-animate-left sidebar" style="display:none;">
        <a class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-padding w3-hover-white w3-xlarge text-light w3-right" onclick="toggleSmallSidebar()">
            <i title="Close Sidebar" class="fas fa-times w3-right"></i>
        </a>
        <a href="{{ url_for('my_shelf',username=current_user.f_name) }}" class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-padding w3-hover-white w3-xlarge text-light">
            <i title="My Shelf" class="fas fa-align-left fa-rotate-270"></i>
            Shelf
        </a>
        <a href="{{ url_for('bookclub') }}" class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-padding w3-hover-white w3-light w3-xlarge text-light">
            <i title="Bookclub" class="fas fa-users"></i>
            Bookclub
        </a>
        <a href="?" class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-paddingw3-hover-white w3-xlarge text-light">
            <i title="Add Bookclub" class="fas fa-plus"></i>
            Add Club
        </a>
        <a href="?" class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-padding w3-hover-white w3-xlarge text-light">
            <i title="DM's" class="fas fa-comments"></i>
            DM's
        </a>
    </div>


    <!-- Footer -->
    <div class="w3-bottom">
        <div class="w3-bar w3-card w3-center w3-small w3-padding-small w3-grey">
            <a href="{{ url_for('user_settings',username=current_user.f_name) }}" class="w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white text-dark" title="User Settings">
                <i title="User Settings" class="fas fa-cog"></i>
            </a>
            <a href="{{ url_for('terms') }}" class="w3-bar-item w3-button bg-transparent w3-padding w3-hover-white text-light w3-right" title="Toggle Navigation Menu">
                Terms and Services
            </a>
            <a href="{{ url_for('privacy') }}" class="w3-bar-item w3-button bg-transparent w3-padding w3-hover-white text-light w3-right" title="Bookclub Page">
                Privacy
            </a>
            <a href="{{ url_for('index') }}" class="w3-bar-item w3-right w3-button bg-transparent w3-padding w3-hover-white text-light w3-right" title="Logout">
                About
            </a>
        </div>
    </div>

    <!-- Main Content  -->
    <div id="main">
        <!-- Top Navbar -->
        <div class="top">
            <div id="trans" class="w3-bar w3-dark-grey w3-card w3-large">
                <a class="w3-hide-small w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" onclick="toggleSidebar()" title="Toggle Navigation Menu">
                    <i class="fas fa-bars"></i>
                </a>
                <a class="w3-hide-medium w3-hide-large w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" onclick="toggleSmallSidebar()" title="Toggle Navigation Menu">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="{{ url_for('profile',username=current_user.f_name) }}" class="w3-bar-item w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="User Page">
                    <i class="fas fa-book-reader"></i>
                </a>
                <a class="w3-hide-small w3-hide-medium w3-bar-item bg-transparent w3-padding-large w3-large text-light">{{ current_user.f_name }}</a>

                <!-- Right justified  -->
                <a href="{{ url_for('logout') }}" class="w3-bar-item w3-right w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="User Page">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                <a href="{{ url_for('search',username=current_user.f_name) }}" class="w3-hide-medium w3-hide-large w3-bar-item w3-right w3-button bg-transparent w3-padding-large w3-hover-white w3-large text-light" title="search">
                    <i class="fas fa-search"></i>
                </a>
                <div id="search-form-header" class="w3-hide-small w3-bar-item py-2 w3-right">
                    <form action="{{ url_for('search',username=current_user.f_name) }}" method="post" novalidate>
                        <div class="form-inline">
                            {{ form.search_item(size=32, id="search", class_="form-control mr-sm-2 mt-2 mt-md-0 pl-3 search-bar", style="width: 200px;", onclick="hideStyle()") }}
                            {{ form.search(class_="btn btn-outline-dark text-light my-2 my-sm-0 search-button search-icon") }}
                        </div>
                    </form>
                </div>
            </div>
        <script src='https://code.jquery.com/jquery-1.12.4.js'></script>
        <script src="{{ url_for('static', filename='./js/user.js') }}"></script>
        </div>
        <!-- main page -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
