    body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  .container {
   padding: 0;
  }
  
  .icon a {
    font-size: 24px; 
  }
  
  .main-scheme {
    background-color: #FFFFFF;
    color: #000000;
  }

   .main-scheme a {
    color: #000000;
   }
  
   .book-section {
    background-color: #8F9882;
    width: 100% !important;
    height: 25%;
   }
  
   #green-bg {
    background-color: #8F9882;
   }
  
   .search-bar {
    background: white; 
    background-image: url(https://developers.google.com/books/images/google_watermark.gif); 
    background-size: 100px 33px; 
    background-repeat: no-repeat;
   }
  
  .sidebar {
    width: 12%;
  }
  
  .mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .shadow {
    padding: 128px 16px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }  

  .thumbnail {
    height: 500px;
    width: 334px;
  }

  .book {
    height: 275px;
    width: 188px;
  }

  #trans {
    opacity: 0.85;
  }

  .green-trans {
    background-color: #8F9882;
    opacity: 0.95;
  }

  div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: rgba(0, 0, 0, 0.50);
  }

  .external {
    background:rgba(0, 0, 0, 0.75);
  }

  .internal {
    border: none;
    margin: 10px;
    background:rgba(0,0,0,1.0);
  }

  .privacy {
    background: rgba(250, 250, 250, 0.8)
  }